<div class= main-container>
<h1> Services </h1>

<div class="searchbar">
  <div class="input-group">

    <div class="form-outline">
      <label class="form-label" for="form1">Search for skill</label>
      <div class="search">
        <input type="search" id="form1" class="form-control" />
        <button type="button" class="btn btn-dark">Search!!</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class='cards'>
    <% @services.each do |s| %>
      <% if s.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path s.photo.key, height: 300, crop: :fill %>')">
      <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/1078877.jpg)">
      <% end  %>
        <%= link_to s.skill_name, service_path(s), class:'link' %>
      </div>
    <% end %>
   </div>
</div>
</div>
