.searchbar {

  }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 70%;
  flex-grow: 1;
  padding: 10px;
}

h1{
 margin-left: 85px;
}

.form {
  display: flex;
  margin-left: 85px;
}
