<div class="card-teacher">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <h4><%= "#{teacher.first_name} #{teacher.last_name}" %></h4>
</div>
