<div class="card-teacher">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <h4><%= "#{teacher.first_name} #{teacher.last_name}" %></h4>
  <h5><i class="fas fa-star "></i><%= rand(1.0..5.0).round(1) %></h2>
</div>
