<div class="container">
`	<section class="features-overview" id="features-section" style="text-align:  center;">
    <div class="content-header">
      <h2>How does it work</h2>
      <h6 class="section-subtitle text-muted">Rent your skill.<br>Help other to change their lives!<br>Earn so much money that you can</h6>
    </div>
    <div class="d-md-flex justify-content-between">
      <div class="grid-margin d-flex justify-content-start">
        <div class="features-width">
          <%= image_tag ("Group12.svg") %>
          <%# <img src="images/Group12.svg" alt="" class="img-icons"> %>
          <h5 class="py-3">Skill<br>Experience</h5>
          <p class="text-muted">We are focused on our students' experience: our services have the best teachers reviews.</p>
          <a href="#"><p class="btn btn btn-dark">Readmore</p></a>
        </div>
      </div>
      <div class="grid-margin d-flex justify-content-center">
        <div class="features-width">
          <%= image_tag ("Group7.svg") %>
          <h5 class="py-3">Rent skills<br>Earn Money</h5>
          <p class="text-muted">Advertising my skills on SkillBnb allowed me to chart a path to financial freedom.</p>
          <a href="#"><p class="btn btn btn-dark">Readmore</p></a>
        </div>
      </div>
      <div class="grid-margin d-flex justify-content-end">
        <div class="features-width">
          <%= image_tag ("Group5.svg") %>
          <%# <img src="images/Group5.svg" alt="" class="img-icons"> %>
          <h5 class="py-3">Professional<br>Content</h5>
          <p class="text-muted">Be in touch with the best content that you`ve ever seen</p>
          <a href="#"><p class="btn btn btn-dark">Readmore</p></a>
        </div>
      </div>
    </div>
  </section>
</div>
