.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-dark:hover{
  background: #FFFFFF;
  color: #000000;
}

.btn-dark {
  border-radius: 50px;
}
