#service_skill_name {
  border-radius: 50px;
}

#service_price_per_hour {
  border-radius: 50px;
}

#service_photo {
  border-radius: 50px;
}

.form {
  border-radius: 50px;
}

#query {
  border-radius: 50px;
}
